/** Basic config file **/

configuration {
    show-icons:         true;
    matching:           "fuzzy";
    modi:               [window, run, drun, ssh];
}
@theme "./launchers/colorful/style_7.rasi"
