/** Basic config file **/

configuration {
    show-icons:         true;
    matching:           "fuzzy";
    modi:               [window, run, drun, ssh];
    pid:                "/run/user/1000/rofi.pid";
}
@theme "styles/launcher/style_8.rasi"
